/* General */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

/* Header */
header {
    height: 70px;
    width: 100%;
    background-color: #f8f9fa;
}

.logo-mobile {
    width: 50px;
}

.mf-bg-header {
    background-color: white;
}

.mf-action {
    border: 2px dashed #e5e5e5;
    background-color: #e5e5e5;
}

.nav-item .nav-link .bi-bell-fill {
    color: #ff8f00;
}

/* Main */
.mf-aside {
    width: 10%;
    position: relative;
    background-color: #051e34;
}

.mf-background-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../img/sidebar-bg.png);
}

.mf-aside i {
    font-size: 1.5rem;
}

.mf-aside a {
    color: white;
}

.mf-content-main {
    background-color: lightcyan;
    overflow: auto;
    height: calc(100vh - 70px);
    width: 90%;
}